/* CONFIG POLICE WEB (Shrinkland) */

@font-face {
    font-family: 'S-regular';
    src: url(S-Regular.otf);
}

                                                      /* EVALUATION FICHIER SANS MIS A JOUR DE COULEUR */

/* CONFIG POLICE WEB (Roboto) */

@font-face {
    font-family: 'R-bold';
    src: url(R-bold.ttf);
}

@font-face {
    font-family: 'R-light';
    src: url(R-light.ttf);
}

@font-face {
    font-family: 'R-medium';
    src: url(R-medium.ttf);
}

@font-face {
    font-family: 'R-regular';
    src: url(R-regular.ttf);
}

@font-face {
    font-family: 'R-finner';
    src: url(R-finner.ttf);
}

@font-face {
    font-family: 'R-alt';
    src: url(R-alt.ttf);
}





/*________________________________________________________________*/

                                               /* Debut du CSS */
/*________________________________________________________________*/

* 
{
    margin: 0px;
    padding: 0px;
}

body
{
}












                                                      /* HEADER */


.fleche_retour {
position: absolute;
left: 2rem;
height: 2rem;
width: 2rem;
top: 2%;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.2rem;
color: #000;
}


.img_logo
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.localisation 
{
    font-family: R-light, Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: solid;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: rgb(228, 228, 228);
    box-shadow: inset 0px 1px 3px 0.1pt rgb(172, 172, 172);
}


.logo_local
{
    display: inline-block;
    padding-right: 10px;
}


.chargement
{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    animation: charge .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;  
}


.items_conteneur
{
    display: flex;
    width: 100px;
    justify-content: space-between;
}


.items 
{
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation-name: jump;
    animation-duration: 0.6s;
    background-color: blueviolet;
}


                                                      /* ANIMATION CHARGEMENT DU SITE */


.item_animation_delay1
{
    animation-delay: 0.3s;
}

.item_animation_delay2
{
    animation-delay: 0.6s;
}


@keyframes charge {

    100% {
        opacity: 0;
        height: 0%;
        width: 0%;
    }
    
}

@keyframes jump {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: -20px;
    }
    100% {
        margin-top: 0px;
    }
    
}







                                                            /* BODY */


.explorer 
{
    display: flex;
    flex-direction: column;
    font-family: R-bold, Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(245, 245, 245);
}


.t1
{
    font-size: x-large;
    padding-bottom: 20px;
}


.p1
{
    font-family: R-light, Arial, Helvetica, sans-serif;
    font-size: large;
    padding-bottom: 10%;
}


.explorer2
{
    font-family: R-regular, Arial, Helvetica, sans-serif;
    border: solid 1px white;
    background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    padding: 15px 25px 15px 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    color: white;
}












                                                 /* FONCTIONNEMENT */



.titre_f
{
    font-size: x-large;
    font-family: R-bold, Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
}


.fonctionnement
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: R-regular, Arial, Helvetica, sans-serif;
    margin-top: -5px;
}


.fonction
{
    display: flex;
    width: 65%;
    margin-top: 35px;
    background-color: rgb(245, 245, 245);
    box-shadow: #c7c6c6 0px 0px 6px 2px;
    align-items: center ;
    border-radius: 30px;
    padding: 15px 25px 15px 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.cercle
{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #9DD3C7;
    border-radius: 100%;
    background-color: #9200db;
    color: white;
    font-size: 14px;
    left: -12px;
}


.icone_f
{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}












                                                    /* LES RESTAURANTS */


.conteneur_resto
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;
    font-family: R-regular, Arial, Helvetica, sans-serif;
    padding-top: 60px;
    background-color: rgb(245, 245, 245);
    padding-bottom: 35px;
}


.titre_r
{
    font-family: R-bold, Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: -35px;
    margin-bottom: 20px;
}


.section_resto
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 25px;
}


.minibloc1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    background-color: #9DD3C7;
    position: absolute;
    font-family: R-bold, Arial, Helvetica, sans-serif;
    border-radius: 4%;
    color: #438069 ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 15px;
    right: 0px;
    box-shadow: rgb(184, 184, 184) 1px 0px 5px 1px;
}


.boite_resto
{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 75%;
    align-items: center;
    margin-top: 30px;
}


.img_resto
{
    width: 110%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0% 0%;
}

.click
{
    display: flex;
    width: 110%;
}


.texte_resto
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 110%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px 0px 20px 20px;
}


.h3_resto
{
    font-family: R-bold, Arial, Helvetica, sans-serif;
    margin-left: 15px;
    padding-bottom: 10px;
}


.h4_resto
{
    font-family: R-light, Arial, Helvetica, sans-serif;
    margin-left: 15px;
}


.conteneur_icone 
{
    display: flex;
    justify-content: right;
    position: relative;
}

.icone_r
{
    display: flex;
    justify-content: right ;
    margin-right: 15px;
    margin-top: -20px;
}

.icone_r2
{
    position: absolute;
    width: 18px;
    margin-right: 14.5px;
    font-size: 19px;
    margin-top: -22px;
    opacity: 0;
    transition: all 0.3s;

}


.icone_r2:hover
{
    color: #9200db;
    opacity: 1;
}

.icone_r:hover
{
    color: #9200db;
}












                                                   /* FOOTER */

.footer_p3
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(41, 41, 41);
    font-family: R-regular, Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 15px;
    padding-top: 40px;
    padding-bottom: 55px;
}


.ohmyfood
{
    font-family: S-Regular, Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}


.texte_footer
{
    display: flex;
    font-family: R-regular, Arial, Helvetica, sans-serif;
    margin-left: 15px;
    font-size: 13px;
    margin-top: 5px;
}


.icone_footer
{
    display: flex;
    flex-direction: row;
    width: 35px;
    margin-right: -10px;
    font-size: 12px;
    margin-top: 1px;
}


.texte_footer2
{
    display: flex;
    font-family: R-light, Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 15px;
}
















                                                   /* AUTRES PAGES DU SITE */





                                                            /* HEADER */

.img_p2
{
    display: flex;
    padding-top: 15px;

}   

.alafrancaise
{
    width: 100%;
    height: 225px;
    object-fit: cover;
}




                                                      /* BODY */





.conteneur_menu
{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    font-family: R-regular, Arial, Helvetica, sans-serif;
    background-color: rgb(245, 245, 245) ;
    border-radius: 35px 35px 0% 0%;
    margin-top: -35px;

}      


.section_menu 
{
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.section_flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.section_flex2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.conteneur_titre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.grandtitre_menu
{
    font-family: S-regular, Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 35px ;
}


.icone_m
{
    display: flex;
    justify-content: right;
    width: auto;
    margin-right: 35px;
    font-size: 21px;
    transition: all 0.3s;
}


.icone_m2
{
    position: absolute;
    width: auto;
    margin-left: -1px;
    font-size: 23px;
    margin-top: -22px;
    opacity: 0;
    transition: all 0.3s;
}


.icone_m2:hover
{
    color: #9200db;
    opacity: 1;
}

.icone_m:hover
{
    color: #9200db;
}


.minititre
{
    display: inline-block;
    font-family: R-finner, Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}


.underline_mini
{
    border-bottom: 2px solid #9DD3C7;
    margin-right: 85%;
    padding-top: 35px;
    margin-left: 20px;
    width: 30px;
}






                                                      /* MENU + FONCTIONNEMENT */



.conteneur_global
{
    display: flex;
    background-color: white;
    width: auto;
    height: 70px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    padding-left: 10px;
    justify-content: space-between;
    box-shadow: #c7c6c6 0px 0px 6px 2px;
    animation: fadein 2s;
    animation-fill-mode: both;
    cursor: pointer;
}



                                                      /* ZONE ANIMATION */

.animation_delay_1
{
    animation-delay: 0.5s;
}

.animation_delay_2
{
    animation-delay: 1s;
}

.animation_delay_3
{
    animation-delay: 1.5s;
}


.conteneur_global:hover .coche 
{
    background-color: #9DD3C7;
    width: 60px;
    border-radius: 0px 15px 15px 0px;
    height: auto;
}

.conteneur_global:hover .icone
{
    transform: rotate(360deg)
}





                                                      /* FIN DES ANIMATIONS */

.texte_principal
{
    margin-top: 10px;
    overflow: hidden;
}


.soustexte
{
    margin-top: 5px;
}


.texte_principal h3
{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.texte_principal p
{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.conteneur_prixcoche
{
    display: flex;
}


.coche
{
    display: flex;
    background-color: #9DD3C7;
    width: 0px;
    overflow: hidden;
    transition: width 1s;
    border-radius: 0px 15px 15px 0px;
    align-items: center;
    justify-content: center;
}


.icone
{
    transition: all 1.5s;
    color: white;
    font-size: 24px;
}


.euro_text
{
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-right: 15px;
    font-family: R-bold, Arial, Helvetica, sans-serif;
}





                                                      /* BOUTON DE COMMANDE */


       
.commander
{
    display: flex;
    font-family: R-regular, Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    padding: 15px 50px 15px 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    color: white;
    margin-top: -25px;
}


.commander:hover
{
    transform: scale(1.1);
}


a:link
{
    text-decoration: none;
    color: white;
}


a
{
    color: white;
}


@keyframes fadein {
    0% {
        opacity: 0;
        margin-top: 50px;
    }
    100% {
        opacity: 1;
        margin-top: 15px;
    }

    
}








/*________________________________________________________________*/

                                               /* RESPONSIVE POSITIF */
/*________________________________________________________________*/

@media (min-width: 1220px ) {
    .fonctionnement {
        flex-direction: row;
        justify-content: center;
    }
    .fonction {
        width: 20%;
        margin-right: 40px;
        margin-left: 40px;

    }
    .p1 {
        padding-bottom: 2%;
    }
    .section_resto {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .boite_resto {
        width: 20%;
    }
    .conteneur_menu {
        margin-left: 17%;
        margin-right: 17%;
    }
    .section_menu {
        flex-wrap: wrap;
    }
    .conteneur_global {
    font-size: 17px;
    height: 90px;

    }

    .commander {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .underline_mini {
        border-bottom: 3px solid #9DD3C7;
    }
    .minititre {
        font-family: R-meidum, Arial, Helvetica, sans-serif;
        font-size: large;
    }
    .section_flex2 {
        padding-top: 85px;
    }
    .texte_principal {
        overflow: hidden;
    }
    .soustexte {
        font-size: 18px;
        margin-top: 20px;
    }
}